body {
  background: gray;
  margin: 20;
}

div {
  box-sizing: border-box;
}
header {
  background: white;
}
header h1{
  margin: 0;
  padding: 10px;
}


div.container{
  width: 600px;
  margin: auto;
}

div.post {
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}



div.post .first-child{
  text-align: right;
  display: inline-block;
  width: 7%;
  padding: 5px;
  border-radius: 10px;

}
div.post .second-child{
  display: inline-block;
  width: 86%;
  text-align:left;
  border-radius: 10px;

}
div.post .last-child{
  display: inline-block;
  width: 7%;
  text-align:left;
  border-radius: 10px;

}



div.post img{
  width: 100%;
}



div.post .corazon{
  display: inline-block;
  width: 7%;
  text-align:right;
  padding: 5px;
  border-radius: 10px;

}
div.post .comentario{
display: inline-block;
  width: 7%;
  text-align:center;
  padding: 5px;
  border-radius: 10px;

}
div.post .compartir{
display: inline-block;
  width: 79%;
  text-align:left;
  padding: 5px;
  border-radius: 10px;

}
div.post .guardar{
display: inline-block;
  width: 7%;
  text-align:left;
  padding: 5px;
  border-radius: 10px;

}

div.post h2, div.post p{
  padding: 10px;
  margin: 0;
}
